DATABASE_URL="postgresql://newport:newport@localhost:5432/newport?schema=public"
JWT_SECRET="please-change-this-32-bytes-minimum-secret"
FACILITY_CODE="BFC-L1"
NODE_ENV="development"
SEED_DEMO="true"
